fastapi==0.115.0
uvicorn[standard]==0.30.6
python-multipart==0.0.9

numpy==1.26.4
opencv-python==4.10.0.84
scipy==1.11.4
filterpy==1.4.5

# ultralytics тянет torch, но torch лучше ставить отдельно под твою CUDA
ultralytics==8.2.103